.profile {
    padding: 30px;
    background-color: white;
    height: 90vh;
}

.user-info {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 150px;
}

.user-info > .MuiAvatar-root {
    height: 90px;
    width: 90px;
    margin-left: 40px;
    /* flex : 0.3; */
    /* justify-self: flex-start; */
    /* font-size: 2rem; */

}


.user-info > h2 {
    margin-left: 150px;
}

.stats {
    height: 100px;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stats > h3 {
    margin-top: auto;
}

.stats > h3 > span {
    font-weight: 300;
}

@media screen and ( max-width: 600px) {
    .profile{
        /* width: 100%; */
        width: 100vw;
        padding: 25px;
    }

    .user-info {
        margin: 0;
        margin-top: 10px;
    }

    .user-info > .MuiAvatar-root {
        margin: 0;
    }

    .user-info > h2 {
        margin-left: 30px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    
}