.main-content {
    display: flex;
    /* height: 100vh; */
    /* background: fixed; */
}

.dummy-area {
    flex: 0.25;
    /* background:fixed; */
    /* background-color: rgb(212, 208, 208) ; */
    /* background-color: rgb(226, 225, 225); */
    /* background: transparent; */
}

.que-feed {
    flex: 0.5;
    /* background-color: rgb(212, 208, 208) ; */
    /* background-color: rgb(226, 225, 225); */
    /* background: transparent; */
    /* overflow:auto; */
}

.net-error {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 600px;
        margin: auto;
        margin-top: 10%;
        font-size: 1.5em;
        line-height: 1.7;
        border: 3px solid red;
        text-align: center;
        flex-direction: column;    
        border-radius: 10px;
        background: #efc2c2;
        color: #ea0e0e;
}


@media screen and ( max-width: 600px) {
    .que-feed {
        flex : 1;
        width: 100%;
        /* margin: 30px; */
    }
    .dummy-area {
        flex: 0;
    }
    .net-error {
        margin-top: 25%;
        width: 100%;
    }
}

